{{#if details.events}}
  {{#each details.events as |result index|}}
    {{#if (gt index 0)}}
      <hr>
    {{/if}}
    <span class="p-title">Result #{{inc index}}:</span>
    <div>
      {{#if result.severity}}
        <span class="p-key">Severity:</span>
        <span class="p-value">
          {{#if (eq result.severity 'low')}}
            <span style="color: #00CD33">{{fa-icon "circle" fixedWidth=true}}</span> Low
          {{/if}}
          {{#if (eq result.severity 'medium')}}
            <span style="color: #FF9000">{{fa-icon "dot-circle" fixedWidth=true}}</span> Medium
          {{/if}}
          {{#if (eq result.severity 'high')}}
            <span style="color: rgba(255, 23, 68, 0.7)">{{fa-icon "bullseye" fixedWidth=true}}</span> High
          {{/if}}
        </span>
      {{/if}}
    </div>
    {{#if result.company_name}}
      <div>
        <span class="p-key">Company Name:</span>
        <span class="p-value">{{result.company_name}}</span>
      </div>
    {{/if}}
    {{#if result.appliance_name}}
      <div>
        <span class="p-key">Appliance Name:</span>
        <span class="p-value">{{result.appliance_name}}</span>
      </div>
    {{/if}}
    {{#if result.trap_name}}
      <div>
        <span class="p-key">Trap Name:</span>
        <span class="p-value">{{result.trap_name}}</span>
      </div>
    {{/if}}
    {{#if result.event_timestamp}}
      <div>
        <span class="p-key">Event Time:</span>
        <span class="p-value">{{result.event_timestamp}}</span>
      </div>
    {{/if}}
    {{#if result.attacker_ip}}
      <div>
        <span class="p-key">Attacker IP:</span>
        <a href="{{block.userOptions.url}}/event-analysis-event-analyzer?search[attack_type]=0&search[sensor_type]=2&search[source_ip]={{result.attacker_ip}}&search[autoload]=true" class="p-link">{{result.attacker_ip}} {{fa-icon "external-link-square" class="external-link-icon"}}</a><br>
      </div>
    {{/if}}
    {{#if result.jsonDownloadLink}}
      <div>
        <span class="p-key">Download JSON Link:</span>
        <a href={{result.jsonDownloadLink}} class="p-link">{{fa-icon "download" class="external-link-icon"}} JSON</a><br>
      </div>
    {{/if}}
    {{#if result.pcapDownloadLink}}
      <div>
        <span class="p-key">Download PCAP Link:</span>
        <a href={{result.pcapDownloadLink}} class="p-link">{{fa-icon "download" class="external-link-icon"}} PCAP</a><br>
      </div>
    {{/if}}
    {{#if result.binaryDownloadLink}}
      <div>
        <span class="p-key">Download Binary Link:</span>
        <a href={{result.binaryDownloadLink}} class="p-link">{{fa-icon "download" class="external-link-icon"}} Files</a><br>
      </div>
    {{/if}}
    {{#if result.attacked_port}}
      <div>
        <span class="p-key">Attacker Port:</span>
        <span class="p-value">{{result.attacked_port}}</span>
      </div>
    {{/if}}
    {{#if result.destination_ip}}
      <div>
        <span class="p-key">Destination IP:</span>
        <span class="p-value">{{result.destination_ip}}</span>
      </div>
    {{/if}}
    {{#if result.connect_duration}}
      <div>
        <span class="p-key">Connection Duration:</span>
        <span class="p-value">{{result.connect_duration}} secs</span>
      </div>
    {{/if}}
    {{#if result.protocol}}
      <div class="service-pill">
        <span class="p-key">Destination Port/Protocol:</span>
        <span class="port">{{result.destination_port}}</span><span class="service">{{result.protocol}}</span>
      </div>
    {{/if}}
    {{#if result.event_name}}
      <div>
        <span class="p-key">Event Name:</span>
        <span class="p-value">{{result.event_name}}</span>
      </div>
    {{/if}}
    {{#if result.malware_name}}
      <div>
        <span class="p-key">Malware Name:</span>
        <span class="p-value">{{result.malware_name}}</span>
      </div>
    {{/if}}
    {{#if result.malware_md5}}
      <div>
        <span class="p-key">Malware MD5:</span>
        <span class="p-value">{{result.malware_md5}}</span>
      </div>
    {{/if}}
  {{/each}}
{{/if}}
